@page
@model Transporte.Pages.Drivers.EditModel
@{
}

<br />
<h2>Editar Motorista</h2>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Id" value="@Model.driversInfo.Id" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.driversInfo.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CNH</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CNH" value="@Model.driversInfo.CNH" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Endereço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Endereco" value="@Model.driversInfo.Endereco" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contato</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Contato" value="@Model.driversInfo.Contato" />
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.successMessage))
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
